
<mat-card>
  <mat-card-content>
    <form [formGroup]="eventForm" (ngSubmit)="onUpload()">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input matInput formControlName="year" type="number">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Event</mat-label>
        <input type="text"
               placeholder="Fasnacht"
               aria-label="Event"
               matInput
               formControlName="event"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button type="submit">Submit</button>
    </form>
    <input type="file" (change)="onFileSelected($event)" multiple>
  </mat-card-content>
</mat-card>
