<div class="title-section">
  <h1>Termine & Social Media</h1>
</div>

<div class="timeline-container scrollable-container">
  <div *ngIf="appointments?.length">
    <div *ngFor="let appointment of appointments; let i = index"
         [ngClass]="{'highlight': isNextAppointment(i)}"
         class="timeline-item">
      <mat-card class="appointment-card">
        <mat-card-header>
          <mat-card-title>{{ appointment.name }}</mat-card-title>
          <mat-card-subtitle>{{ appointment.date | date: 'dd.MM.yyyy HH:mm' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ appointment.location }}</p>
          <button class="download-btn" (click)="downloadICS(appointment)">Download</button>
        </mat-card-content>
      </mat-card>
      <div class="timeline-marker"></div>
    </div>
  </div>
</div>

<mat-card>
  <div class="social-media-section">
    <mat-card-header>
      <mat-card-title>
        <h2>Social Media</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p>Hier findest du uns auch:</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="social-media-cards">
        <mat-card class="social-media-card"
                  (click)="openLink('https://www.youtube.com/@guggemuusiggugge-myslijung6818')">
          <img src="./assets/logo/logoRot.png" alt="Slideshow Bild" class="slideshow-image">
          <mat-card-header>
            <mat-icon aria-hidden="false">smart_display</mat-icon>
            <mat-card-title>YouTube</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Hier laden wir Videos von Auftritten hoch</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="social-media-card" (click)="openLink('https://www.instagram.com/jung_gardebasel/')">
          <img src="./assets/logo/logoOrange.png" alt="Slideshow Bild" class="slideshow-image">
          <mat-card-header>
            <mat-icon aria-hidden="false">photo_camera</mat-icon>
            <mat-card-title>Instagram</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Hier werden regelmäßig Bilder gepostet</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="social-media-card" (click)="openLink('https://www.tiktok.com/@junggarde2018')">
          <img src="./assets/logo/logoGruen.png" alt="Slideshow Bild" class="slideshow-image">
          <mat-card-header>
            <mat-icon aria-hidden="false">theater_comedy</mat-icon>
            <mat-card-title>TikTok</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>TikTok Videos von unseren Auftritten</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="social-media-card" (click)="openLink('https://www.facebook.com')">
          <img src="./assets/logo/logoBlau.png" alt="Facebook Bild" class="slideshow-image">
          <mat-card-header>
            <mat-icon aria-hidden="false">facebook</mat-icon>
            <mat-card-title>Facebook</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Folge uns auf Facebook für mehr Updates</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </div>
</mat-card>
