<div class="title-section">
  <h1>Gönner & Passiv Mitglieder</h1>
</div>
<mat-card class="guggemuusig-card">
  <mat-card-header class="header">
    <mat-card-title class="title">Unterstütze die Jung Garde und werde Gönner</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="intro">
      <p>
        Um das Vereinsleben der Basler Guggemuusig Jung Garde 2018 gestalten zu können, benötigt es finanzielle Mittel.
        Die Jung Garde finanziert sich durch Mitgliederbeiträge, Auftritte und Passivmitglieder / Gönner.
      </p>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div class="event">
      <p>
        Ein Gönner-Apéro findet jeweils in der letzten Probe vor Weihnachten in unserem Probelokal statt.
      </p>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div class="contact">
      <p>
        Solltest nun auch du die Jung Garde unterstützen wollen, so bekommst du weitere Informationen unter <a
        href="mailto:info.junggarde@gmail.com">info.junggarde&#64;gmail.com</a>.
      </p>
    </div>
  </mat-card-content>
</mat-card>

<!-- New Section -->
<mat-card class="support-card">
  <mat-card-header class="header">
    <mat-card-title class="title">Werde Passiv Mitglied und unterstütze uns!</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p class="additional-info">
      Als Jugendverein der Fasnacht brauchen auch unsere Kinder und Teenager eure Unterstützung.
    </p>

    <p class="additional-info">
      Alle, die die Jung Garde unterstützen möchten, sind als Passivmitglieder herzlich willkommen.
    </p>

    <p class="additional-info">
      Als Passivmitglieder bekommt ihr laufend die aktuellen Informationen über unsere Anlässe und Fasnachtsaktivitäten
      per Gruppenchat oder E-Mail zugestellt.
    </p>

    <p class="additional-info">
      Ihr werdet zu einem Mitgliederapéro eingeladen, sowie zu unserem Fasnachtsstart, jeweils am Fasnachtsmontag mit
      Ständeli.
    </p>

    <p class="additional-info">
      Interessiert? Füll das Anmeldeformular noch heute aus!
    </p>

    <p class="fee-info">
      <strong>Passivmitgliederbeitrag:</strong><br/>
      Person: mind. CHF 30.-<br/>
      Familie oder Organisation: mind. CHF 50.-
    </p>

    <!-- Form Placeholder -->
    <p class="form-placeholder">Formular wird hier eingefügt (z. B. Kontaktformular)</p>

    <button mat-raised-button color="accent" class="support-btn">Jetzt Unterstützen</button>


    <p class="alternative-contact">
      Alternativ könnt ihr uns eure Kontaktdaten per Mail zustellen oder unseren Vizepräsidenten Pascal per SMS
      kontaktieren:
    </p>

    <p class="contact-details">
      <a href="mailto:info.junggarde@gmail.com">info.junggarde&#64;gmail.com</a><br/>
      079 659 51 24
    </p>
  </mat-card-content>
</mat-card>
