<div class="title-section">
  <h1>Galerie</h1>
</div>
<div class="accordion-wrapper">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>Filter</mat-panel-title>
      </mat-expansion-panel-header>

      <div class="filter-container">
        <form [formGroup]="eventForm" (ngSubmit)="loadGallery()">
          <mat-form-field>
            <mat-label>Year</mat-label>
            <input matInput formControlName="year" type="number">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Event</mat-label>
            <input type="text"
                   placeholder="Fasnacht"
                   aria-label="Event"
                   matInput
                   formControlName="event"
                   [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              @for (option of filteredOptions | async; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary" class="apply-button">Filter anwenden</button>

        </form>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<div class="gallery-container">
  <mat-card *ngFor="let image of paginatedGallery$ | async" class="gallery-card">
    <img [src]="image" alt="Gallery Image" class="gallery-image"/>
  </mat-card>
</div>

<mat-paginator
  [length]="galleryLength"
  [pageSize]="10"
  (page)="updatePagination($event.pageIndex)">
</mat-paginator>
