.homepage-container {
  text-align: center;
}

mat-card-content {
  text-align: left;
}

h1 {
  color: #00a19d;
}

p {
  color: grey;
}

.title-section {
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
}

.logo {
  width: 300px;
  height: auto;
}

.slideshow-card {
  margin: 20px 0;
}

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: auto;
  width: 50%;
  margin: 0 auto;
}

.slideshow-image {
  max-width: 100%;
  border-radius: 10px;
}

.slideshow-icon {
  font-size: 32px;
  cursor: pointer;
}

.info-card {
  width: auto;
  height: auto;
  margin: 20px;
}

.countdown-section {
  margin: 20px 0;
}

.countdown-timer {
  display: flex;
  justify-content: center;
}

.countdown-item {
  margin: 0 10px;
}

.music-section {
  margin: 20px 0;
}

.audio {
  text-align: center;
}

button {
  cursor: pointer;
  margin: 10px;
}

.countdown-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
}

.countdown-card iframe {
  max-width: 100%;
  height: auto;
  pointer-events: auto;
  border: none;
}
.logo-hp {
  height: auto;
}


