<mat-card class="custom-card">
  <div class="image-placeholder">
    <img src="assets/Entstehung.jpg" alt="Image Placeholder"/>
  </div>

  <div class="content-section">
    <h2>Zur Entstehung:</h2>
    <p>Ende 2017 hatte der ehemalige Obmaa und Major der Guggemuusig Gugge-Mysli 1956 die Idee, eine neue Kinder- und
      Jugendgugge in Basel zu gründen. Der Gedanke entstand, weil es zu diesem Zeitpunkt in Basel nur eine Jugendgugge,
      die Barbarossa Binggis, gab – im Vergleich zur Vielzahl an Cliquennachwuchs schien das recht wenig. Er entschied
      sich gemeinsam mit seiner Partnerin die Jung Garde ins Leben zu rufen.

      Am Bummel der Gugge-Mysli 1956 verteilten sie die ersten Flyer für einen Informationsabend, um Interessierte auf
      das neue Projekt aufmerksam zu machen. Durch einen glücklichen Zufall erreichte diese Information auch ein
      Elternteil eines Mitglieds der Barbarossa Binggis, die sich etwa zur selben Zeit aufgelöst hatten und die ersten
      Mitglieder waren schon gefunden.</p>

    <div class="logo-section">
      <img class="mouse-image" src="assets/dummy-mouse.png" alt="Mouse Placeholder"/>
    </div>

    <div class="arrow-line"></div>

    <div class="logo-section">
      <img class="logo-image" src="../../../assets/logo/logoSchwarz.png" alt="Logo Placeholder"/>
    </div>

    <p>Am 16. März 2018 fand schließlich der erste Informationsabend der Jung Garde 2018 statt. Die offizielle
      Gründungsversammlung folgte am 13. April 2018, bei der der Vorstand gebildet und die Statuten festgelegt wurden.
      Auf der folgenden Generalversammlung der Gugge-Mysli 1956 erhielt der neu gewählte Vorstand den Zuspruch, als
      "Gugge-Mysli Jung Garde 2018" für ein Jahr eigenständig zu arbeiten. Kurz darauf fanden bereits die ersten Proben
      im Mysli-Käller statt.

      Nach der Fasnacht 2024 beschlossen die Mitglieder der Jung Garde 2018 einstimmig, die Schirmherrschaft der
      Gugge-Mysli 1956 abzulegen und von nun an unabhängig Fasnacht zu machen. Seitdem probt die Jung Garde 2018 jeden
      Freitagabend von 19:00 bis 21:00 Uhr in der Rätzstadt am Claraplatz.

      Derzeit zählt die Gugge 51 Kinder und Jugendliche zwischen 8 und 18 Jahren. Ein besonderes Anliegen der Jung Garde
      2018 ist es, dem Nachwuchs die Tradition der Basler Fasnacht näherzubringen.

      Wenn auch du mit uns eine grossartige, musikalische Zeit erleben möchtest, dann wende dich an info.junggarde&#64;gmail.com.</p>
  </div>

  <div class="button-section">
    <button mat-raised-button color="primary" routerLink="/ueber-uns/mitglieder">Unsere Mitglieder</button>
    <button mat-raised-button color="primary" routerLink="/ueber-uns/fuehrungsriege">Unsere Führungsriege</button>
  </div>

  <div class="footer-section">
    <p>Magst du unsere Gugge? Dann werde doch ein Gönner oder ein passiv Mitglied und unterstütze uns!</p>
    <button mat-raised-button color="accent" routerLink="/ueber-uns/goenner">Mehr erfahren</button>
  </div>
</mat-card>
