
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  border: solid lightgrey 2px;
}
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-toolbar {
  flex: 0 0 auto;
}

.bg-image {
  flex: 1 1 auto;
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
}

.content {
  overflow-y: auto;
}
