<mat-card class="impressum-card">
  <mat-card-header>
    <mat-card-title class="title">Impressum</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <section>
      <h2>Verantwortlich für den Inhalt:</h2>
      <p>Basler Guggemuusig Jung Garde 2018</p>
      <p>Claraplatz 1, 4000 Basel, Schweiz</p>
      <br />
      <h3>Vertreten durch:</h3>
      <p>Rafael Claude</p>
      <p><a href="mailto:praesident.junggarde@gmail.com">praesident.junggarde&#64;gmail.com</a></p>
    </section>

    <section>
      <h2>Datenschutzerklärung</h2>
      <p>
        Diese Datenschutzerklärung klärt Sie über die Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten
        (nachfolgend kurz «Daten») innerhalb unseres Onlineangebotes und der mit ihm verbundenen Webseiten, Funktionen und
        Inhalte sowie externen Onlinepräsenzen, wie z.B. unser Social Media Profile auf (nachfolgend gemeinsam bezeichnet als
        «Onlineangebot»).
      </p>
      <p>Im Hinblick auf die verwendeten Begrifflichkeiten, wie z.B. «Verarbeitung» oder «Verantwortlicher» verweisen wir auf die Definitionen im Art. 4 der Datenschutzgrundverordnung (DSGVO).</p>
    </section>

    <section>
      <h2>Haftungsausschluss</h2>
      <p>
        Die Autoren übernehmen keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität,
        Zuverlässigkeit und Vollständigkeit der Informationen.
      </p>
      <p>
        Haftungsansprüche gegen einen Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der
        Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische
        Störungen entstanden sind, werden ausgeschlossen.
      </p>
      <p>Alle Angebote sind unverbindlich. Die Autoren behalten es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
    </section>

    <section>
      <h2>Haftungsausschluss für Links</h2>
      <p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.</p>
    </section>

    <section>
      <h2>Urheberrechte</h2>
      <p>
        Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören
        ausschliesslich der juristischen Person Basler Guggemuusig Jung Garde 2018 oder den speziell genannten
        Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im
        Voraus einzuholen.
      </p>
    </section>
  </mat-card-content>
</mat-card>
