<div class="title-section">
  <h1>Unsere Mitglieder</h1>
</div>
<h2 style="margin-top: 0px">Vortrab</h2>
<div class="card flex justify-content-center overflow-x-auto">
  <p-organizationChart
    [value]="vortrab"
    selectionMode="multiple"
    [(selection)]="selectedNodes"
    [collapsible]="true">
    <ng-template let-node pTemplate="person">
      <div class="p-2 text-center">
        <div class="font-bold">
          {{ node.data.name }}
        </div>
        <div>
          {{ node.data.title }}
        </div>
      </div>
    </ng-template>
  </p-organizationChart>
</div>